<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>aaaaa</servlet-name>
        <servlet-class>com.mycompany.server.aaaaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connection</servlet-name>
        <servlet-class>com.mycompany.server.connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initialize</servlet-name>
        <servlet-class>com.mycompany.server.initialize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createIdKey</servlet-name>
        <servlet-class>com.mycompany.server.createIdKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>com.mycompany.server.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createId</servlet-name>
        <servlet-class>com.mycompany.server.createId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientAdimn</servlet-name>
        <servlet-class>com.mycompany.server.clientAdimn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>com.mycompany.server.payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>endCrypto</servlet-name>
        <servlet-class>com.mycompany.server.endCrypto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkend</servlet-name>
        <servlet-class>com.mycompany.server.checkend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>psw</servlet-name>
        <servlet-class>com.mycompany.server.psw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEndDecrypt</servlet-name>
        <servlet-class>com.mycompany.server.checkEndDecrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkPayment</servlet-name>
        <servlet-class>com.mycompany.server.checkPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.mycompany.server.delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aaaaa</servlet-name>
        <url-pattern>/aaaaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connection</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initialize</servlet-name>
        <url-pattern>/initialize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createIdKey</servlet-name>
        <url-pattern>/createIdKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createId</servlet-name>
        <url-pattern>/createId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientAdimn</servlet-name>
        <url-pattern>/clientAdimn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>endCrypto</servlet-name>
        <url-pattern>/endCrypto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkend</servlet-name>
        <url-pattern>/checkend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>psw</servlet-name>
        <url-pattern>/psw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEndDecrypt</servlet-name>
        <url-pattern>/checkEndDecrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPayment</servlet-name>
        <url-pattern>/checkPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
